---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{% include header.html %}
<body>
  {% include navbar.html %}
  <div class="wrapper">
    <main aria-label="Content">
      <div class="not-found">
        <div class="container">
          <img src = "/assets/img/404.png" alt="404" width="400">
          <p class="phrase">You cannot break out of the simulation.</p>
          <a class="solution" href="{{ site.url }}">back home</a>
        </div>
      </div>
    </main>  
    {% include footer.html %}
</div>
    
</body>

</html>
